{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <h1>Welcome to Home page <span style='color: blue'>{{name}}</span></h1>

    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Search for Movie:
                </label>
                <input type="text" class="form-control" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p>Searching for: {{ searchTerm }}</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100">
                {% if movie.image %}
                <img class="card-img-top" src="{{ movie.image.url }}" alt="{{ movie.title }}">
                {% else %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p><strong>Genre:</strong> {{ movie.genre }}</p>
                    <p><strong>Year:</strong> {{ movie.year }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock content %}